<!DOCTYPE html>
<html>
<head>
    <title>STADVDB MCO1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        #tbl {
            margin: 0;
            position: absolute;
            left: 38%;
            text-align: center;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#aboutModal" style="margin-right: 89%;">Group 9</button>
     </nav>

     <div>
        <table border="1" id="tbl">
            <caption style="font-weight: bold; font-style:italic; text-align: center; caption-side: top">TOP 50 ACTORS/ACTRESSES WITH THE MOST ROLES</caption>
            <th></th>
            <th>Total Roles</th>
            <th>Actor/Actress Name</th>

            <%
                if(actorsData.length!=0){
                var i=1;
                actorsData.forEach(function(data){
            %>
                <tr>
                    <td>
                        <%=i %>
                    </td>
                    <td>
                        <%=data.total_roles %>
                    </td>
                    <td>
                        <%=data.name %>
                    </td>
                </tr>
            <%  i++; }) %>
            <% } else{  %>
                <tr>
                    <td colspan="7">No Data Found</td>
                </tr>
            <% } %>
        </table>
    </div>

    <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalLabel">Members of the Group</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Castro, Steven Jentyn</p>
              <p>Gallenero Jr., Jeffrey Jake Afable</p>
              <p>Li, Roymaxson Chan</p>
              <p>Megallon, Marione Jay Masibag</p>
            </div>
          </div>
        </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>